chudy/buildtemp/files/xsd/StringTypes5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.vitria.com/dmstest"
	xmlns:dms="http://schema.vitria.com/dmstest">

	<element name="stringTypes5" type="dms:StringTypes5" />

	<complexType name="StringTypes5">
		<sequence>
			<element name="stringType51" type="string" minOccurs="0" />
			<element name="stringType52" type="string" minOccurs="0" />
			<element name="stringType53" type="string" minOccurs="0" />
			<element name="stringType54" type="string" minOccurs="0" />
			<element name="stringType55" type="string" minOccurs="0" />
		</sequence>
	</complexType>
</schema>
